.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .movieList {
    list-style: none;
    padding: 0;
  }
  
  .movieListItem {
    margin-bottom: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .movieLink {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
  }
  
  .movieLink:hover {
    color: #0056b3;
  }
  